body {
  font-family: "typical_writerregular", "corbertregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

.clear-div,
.clear-20,
.clear-50,
.clear-100 {
  clear: both;
}

.clear-20 {
  margin-top: 20px;
}

.clear-50 {
  margin-top: 50px;
}

.clear-100 {
  margin-top: 50px;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

.col-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
}

video#bgvid {
  width: 177.778vh;
  height: 100vh;
  min-width: 100vw;
  min-height: 56.25vw;
  background-image: url('img/cover-background.png');
  background-size: cover;
}

@media screen and (max-device-width: 800px) {

  .cover-wrapper {
    background: url('img/cover-background.png') #000 no-repeat center center;
  }
  video#bgvid { display: none; }
}

.wrapper .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.section {
  margin-bottom: 20px;
}

.container h3 {
  text-align: left;
}

/* prevents selecting brand on navigation bar */
.wrapper .container h3 /* .grid-heading, effectively */ {
  display: inline-block;
  margin-left: 0;
  padding: 5px 20px;
  /* Features */
  background-color: #444;
  background-color: rgba(67, 67, 67, 0.50);
}

.wrapper.artists {
  display: table;
  min-height: 100%;
}

.wrapper.artists .va {
  display: table-cell;
  vertical-align: middle;
}

.grid-heading {
  padding: 0;
  margin: 5px -15px;
}

.grid-heading h1 {
  margin-top: 250px;
  margin-bottom: 250px;
  font-size: 44px;
  text-align: center;
}

@media (max-width: 992px) {
  .grid-heading h1 {
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .grid-heading h1 {
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 24px;
  }
}

.item {
  padding: 0;
  margin: 0 0;
}

.item img {
  width: 100%;
  height: 100%;
}

.item-label {
  position: absolute;
  bottom: 0;
  left: 0;
  /* Features */
  width: 100%;
  padding: 10px 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  /* Font */
  text-align: center;
  color: white;
  font-size: 16px;
  /* Advanced */
  pointer-events: none;
}

.item-brand {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.item:hover .item-brand {
  display: block;
}

.item-brand div {
  position: absolute;

  /*
  max-width: 90%;
  width: 90%;
  height: auto;
  left: 0;
  top: 0;
  margin: auto;
  */

  /*
  */
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  margin: auto;
  width: 90%;
  height: 90%;

  /*
  width: 90%;
  height: auto;
  top: 20%;
  left: 50%;
  margin-left: -45%;
  */

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.clients {
  min-height: 100vh;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/clients.jpg);
}

@media (min-width: 768px) {
  .clients {
    background-size: 750px auto;
    min-height: 650px;
  }
}

@media (min-width: 992px) {
  .clients {
    background-size: 970px auto;
    min-height: 900px;
  }
}

@media (min-width: 1200px) {
  .clients {
    background-size: 1170px auto;
    min-height: 850px;
  }
}

.contact {
  position: relative;
  /*
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('img/clients.jpg');
  */
  background-size: 100% auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  white-space: no-wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.contact-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(img/overlay-pattern.png); */
    background-repeat: repeat;
}

.contact:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.contact .container {
  display: inline-block;
  vertical-align: middle;
}

.contact-header,
.contact-section {
  background-color: rgba(0, 0, 0, 0.5);
}

.section.work-section {
  margin-bottom: 0;
}

.contact-section {
  color: black;
}

.contact-header {
  position: absolute;
  left: 50%;
  top: -40px;
  width: 50%;
  height: 40px;
  margin-left: -25%;
}

.contact-header h4 {
  color: white;
  text-align: center;
  margin-top: 8px;
  font-size: 24px;
}

.contact-section-old {
  position: absolute;
  top: 0; bottom: 0;
  left: 5%; right: 5%;
  margin: auto;
  padding: 10px;
}

.contact-section .submit-button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 150px;
  height: 40px;
  font-size: 14pt;
  margin-left: -75px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.contact-section dl, .contact-section ul {
  text-align: center;
}

.contact-footer ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  min-height: 50px;
}

.contact-footer ul li {
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  float: left;
  text-shadow: none;
}

.contact-footer ul li a {
  font-size: 8pt;
}

@media only screen and (max-width : 480px) {
  .contact-section ul li {
    margin: 2px;
  }
}

@media only screen and (max-width : 320px) {
  .contact-section ul li {
    margin: -2px;
  }
}

.contact-logo {
  margin-bottom: 10px;
}

.contact-form {
  text-align: left;
  padding: 30px 0;
}

.contact-form label {
  color: black;
}

.contact-form .form-control,
.contact-form .form-control:focus,
.contact-form .form-control:hover,
.contact-form .form-control:active {
  outline: none;
  border-color: #000;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
}

.contact-form textarea {
  height: 180px;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
   color: #666;
}

.contact-form input:-moz-placeholder,
.contact-form textarea:-moz-placeholder { /* Firefox 18- */
   color: #666;
}

.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
   color: #666;
}

a.anchor {
  position: relative;
  display: block;
  top: -80px;
  visibility: hidden;
}